.footer {
    padding: 5vmin;
}

.social-link {
    margin: 0vmin 3vmin;
}

.social-icon {
    font-size: 6vmin;
}

/* .twitter:hover {
    color: hsla(206, 82%, 63%, 1);
}

.instagram:hover {
    color: hsla(326, 57%, 48%, 1);
} */